@CHARSET "UTF-8";

.all {
	margin-left: 5%;
	margin-right: 5%;
	float: left;
}

.left {
	width: 20%;
	min-height: 700px;
	float: left;
	border: 1px solid;
}

.right {
	width: 20%;
	min-height: 700px;
	float: left;
	border: 1px solid;
}

.center {
	float: left;
	width: 50%;
	min-height: 700px;
	border: 1px solid;
}

.centercontent {
	float: left;
	width: 100%;
}